.center {
  text-align: center;
}

form, .form {
  display: inline-block;
  margin: auto;
  padding: 25px;
  width: 50%;
  border: 2px solid rgb(163,169,176);
}

.top-margin {
  margin-top: 100px;
}

.github-image {
   width: 24px;
   height: 24px;
}

.tabs {
  position: fixed;
  z-index: 1000;
  background: white;
  width: 100%;
}
.tabs li a {
  padding: 1em 1em;
  color: #212121;
}

.tabs li:first-child {
  padding-left: 1em;
  padding-right: 1em;
}

.below-navbar {
  padding-top: 80px;
}

.padding-bottom {
  padding-bottom: 20px;
}

.message-box {
  margin-bottom: 20px;
}

.center-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
